@import "./basic.css";

 body {
     font-family: 'Quicksand', sans-serif;
  
      }

      .desktop_menu {
        width: 100px;
        height: auto;
        border: 1px solid var(--very-light-pink);
        border-radius: 6px;
        padding: 20px 20px 0 20px;
        
        
    
    }
    
    .desktop_menu ul li{
        text-align: end;
    
    }
    .desktop_menu ul li:nth-child(1){
      font-weight: bold;
  
  }
  .desktop_menu ul li:nth-child(2){
    font-weight: bold;

}
  
    
    
    .desktop_menu ul li:last-child{
    
        padding-top: 20px;
        border-top: 1px solid var(--very-light-pink);
        
    }
    
    .desktop_menu ul li:last-child a {
    
    color: var(--hospital-green);
    font-size: var(--sm);
    
    }
    
    .desktop_menu ul li a {
    
        color: var(--blank);
        font-size: var(--sm);
        margin-bottom: 20px;
        display: inline-block;
        
        }
        

      .cards-container {
        
        display: grid;
        grid-template-columns: repeat( auto-fill, var(--card-size));
        gap: 26px;
        place-content: center;
      }

      .product-card {
     width: var(--card-size)
      }

      .product-card img {
        border-radius: 20px;
        object-fit: cover;
        width: var(--card-size);
        height: var(--card-size);
         }

         .product-info {
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-top: 12px;
         }
         .product-info img {
          margin: 0;
        }

         .product-info figure img {
           width: 35px;
           height: 35px;
         }

         .product-info div p:first-child{
           font-weight: bold;
          font-size: var(--md);
          margin-top: 0px;
          margin-bottom: 4px;

         }


         .product-info div p:last-child{
         color: var(--very-light-pink);
          font-size: var(--sm);
         margin-top: 0px;
         margin-bottom: 0px;

        }

         @media  (max-width: 640px) {
          .cards-container {
            display: grid;
            grid-template-columns: repeat( auto-fill, 140px);
            gap: 60px;
          }

          .product-card {
            width: 140px;
             }
             .product-card img {
              
              width: 140px;
              height: 140px;
               }
               
          
          
        }