@import "./basic.css";

 body {
     font-family: 'Quicksand', sans-serif;
  
      }


nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
}
.menu {
  display: none;
}
.logo {
  width: 100px;
  align-self: center;
}
.navbar-left ul,
.navbar-right ul {

  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}
.navbar-email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;
}
.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

      .desktop_menu {
        width: 100px;
        height: auto;
        border: 1px solid var(--very-light-pink);
        border-radius: 6px;
        padding: 20px 20px 0 20px;
        margin-bottom: 20px;
      
        
        
    
    }
    
    .desktop_menu ul li{
        text-align: end;
    
    }
    .desktop-menu ul li:not(:last-child) {
      font-weight: bold;
}
  
    
    
    .desktop_menu ul li:last-child{
    
        padding-top: 20px;
        border-top: 1px solid var(--very-light-pink);
        
    }
    
    .desktop_menu ul li:last-child a {
    
    color: var(--hospital-green);
    font-size: var(--sm);
    
    }
    
    .desktop_menu ul li a {
    
        color: var(--blank);
        font-size: var(--sm);
        margin-bottom: 20px;
        display: inline-block;
        
        }
        

      .cards-container {
        
        display: grid;
        grid-template-columns: repeat( auto-fill, var(--card-size));
        gap: 26px;
        place-content: center;
      }

      .product-card {
     width: var(--card-size)
      }

      .product-card img {
        border-radius: 20px;
        object-fit: cover;
        width: var(--card-size);
        height: var(--card-size);
         }

         .product-info {
           display: flex;
           justify-content: space-between;
           align-items: center;
           margin-top: 12px;
         }
         .product-info img {
          margin: 0;
        }

         .product-info figure img {
           width: 35px;
           height: 35px;
         }

         .product-info div p:first-child{
           font-weight: bold;
          font-size: var(--md);
          margin-top: 0px;
          margin-bottom: 4px;

         }


         .product-info div p:last-child{
         color: var(--very-light-pink);
          font-size: var(--sm);
         margin-top: 0px;
         margin-bottom: 0px;

        }

         @media  (max-width: 640px) {
          .cards-container {
            display: grid;
            grid-template-columns: repeat( auto-fill, 140px);
            gap: 60px;
          }

          .product-card {
            width: 140px;
             }
             .product-card img {
              
              width: 140px;
              height: 140px;
               }
               .menu {
                display: block;
                align-self: center;
              }
              .navbar-left ul {
                display: none;
              }
              .navbar-email {
                display: none;
              }
               
          
          
        }